header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  height: 140px;
  width: 100%;

  background-color: var(--books-header-primary);
}

header > img {
  height: 100%;
  width: auto;
}

header .header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 90%;

  padding: 0 2rem;

  gap: 0.4rem;
}

header .header__title div {
  display: flex;
  align-items: center;

  gap: 8px;
}

header .header__bottom {
  display: flex;

  height: 40px;
  width: 100%;

  background-color: var(--books-header-secondary);
}

#home_button {
  height: 50px;
  width: 50px;

  background-image: url("../assets/home.svg ");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

#home_button:hover {
  background-color: aliceblue;

  background-image: url("../assets/homedark.svg");

  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .list__cards {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  margin-bottom: 2rem;

  padding: 2rem 2rem;
  gap: 4rem;
}

.container .list__cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 600px;
  width: 330px;

  padding: 1rem;

  gap: 1rem;
}

.container .list__cards .card .card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 0.2rem;
}

.container .list__cards .card .card__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .list__cards .card .card__img img {
  width: 260px;
}

.container .list__cards .card p {
  height: 4rem;

  font-size: 18px;
  font-weight: bold;

  color: var(--books-text-primary);
}

.container .list__cards .card span {
  height: 6rem;

  text-align: left;
  font-size: 15px;

  color: var(--books-text-primary);
}

.container .list__cards .card .button {
  background-color: var(--button-bg);

  height: 3rem;
  width: auto;

  text-align: center;
  align-content: center;

  border-radius: 50px 50px;

  color: var(--books-text-primary);
}

.container .list__cards .card .button:hover {
  background-color: rgb(247, 202, 0);
}

#top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  height: 40px;
  width: 40px;

  border-radius: 50%;

  background-color: var(--books-header-primary);
  background-image: url("../assets/uparrow.svg ");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

dialog {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 340px;
  width: 470px;

  padding: 1rem;

  line-height: 150%;
  text-align: left;

  color: var(--books-header-primary);

  border: none;
  border-radius: 0.5rem;

  background: var(--dialog-bg);

  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

dialog.show {
  opacity: 1;
  transform: translateY(0);
}

dialog.hide {
  opacity: 0;
  transform: translateY(-100%);
}

dialog > button:hover {
  background-color: rgb(247, 202, 0);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

dialog button {
  height: 40px;
  width: 100px;

  border: 2px solid var(--books-header-primary);
  border-radius: 0.5rem;

  color: var(--books-header-primary);

  background: var(--button-dialog-bg);
}
