.header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 140px;
  width: 100%;

  background-color: var(--books-header-primary);
}

.header .header__content {
  display: flex;
  align-items: center;

  height: 100%;
  width: 80%;

  padding: 0 2rem;

  gap: 0.4rem;
}

.header .header__content img {
  height: 50%;
  width: auto;
}

.header .header__bottom {
  display: flex;

  height: 40px;
  width: 100%;

  background-color: var(--books-header-secondary);
}

#home_button {
  height: 50px;
  width: 50px;

  background-image: url("../assets/home.svg ");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

#home_button:hover {
  background-color: aliceblue;

  background-image: url("../assets/homedark.svg");

  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .list__cards {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  margin-bottom: 2rem;

  padding: 2rem 2rem;
  gap: 4rem;
}

.container .list__cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 330px;

  padding: 1rem;

  gap: 1rem;
}

#card-especial {
  border: 6px solid var(--card-special);
  border-radius: 8px;
}

.container .list__cards .card .card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  gap: 0.6rem;
}

.container .list__cards .card .card__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .list__cards .card .card__img img {
  width: 260px;
}

.container .list__cards .card .card__info-author {
  min-height: 2rem;

  font-weight: bold;
  line-height: 1.2;

  color: var(--books-text-primary);
}

.container .list__cards .card .card__info-title {
  min-height: 4.5rem;

  flex-grow: 1;

  text-align: left;

  color: var(--books-text-primary);
}

.container .list__cards .card .button {
  background-color: var(--button-bg);

  height: 3rem;
  width: auto;

  text-align: center;
  align-content: center;

  border-radius: 50px 50px;

  color: var(--books-text-primary);
}

.container .list__cards .card .button:hover {
  background-color: rgb(247, 202, 0);
}

#top {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;

  height: 40px;
  width: 40px;

  border-radius: 50%;

  background-color: var(--books-header-primary);
  background-image: url("../assets/uparrow.svg ");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

dialog {
  position: fixed;

  top: 50%;
  left: 25%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 340px;
  width: 470px;

  padding: 1rem;

  line-height: 150%;
  text-align: left;

  color: var(--books-header-primary);

  border: none;
  border-radius: 0.5rem;

  background: var(--dialog-bg);

  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

dialog.show {
  opacity: 1;
  transform: translate(-50%, -50%);
}

dialog.hide {
  opacity: 0;
  transform: translate(-50%, -50%);
}

dialog > button:hover {
  background-color: rgb(247, 202, 0);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

dialog button {
  height: 40px;
  width: 100px;

  border: 2px solid var(--books-header-primary);
  border-radius: 0.5rem;

  color: var(--books-header-primary);

  background: var(--button-dialog-bg);
}

/* Media Queries */
@media (max-width: 480px), (min-width: 481px) {
  .header__content {
    width: 100%;
    padding: 0;
  }
  .header .header__title {
    padding: 0;
  }

  .header .header__bottom {
    height: 20px;
  }

  .header .header__content img {
    height: 40%;
    width: auto;
  }

  .header .header__content h1 {
    font-size: 24px;
  }

  dialog {
    left: 50%;
  }
}

@media (min-width: 700px) {
  .header__content {
    width: 100%;
    padding: 0;
  }
  .header .header__title {
    padding: 0;
  }

  .header .header__bottom {
    height: 20px;
  }

  .header .header__content img {
    height: 40%;
    width: auto;
  }

  .header .header__content h1 {
    font-size: 24px;
  }

  .header .header__bottom {
    height: 40px;
  }

  dialog {
    left: 25%;
  }
}
