:root {
  --text-color: #fff;
  --bg-color: #090e26;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --books-header-primary: rgb(19, 25, 33);
  --books-header-secondary: rgba(35, 47, 62);
  --books-text-primary: rgba(19, 25, 33);
  --button-bg: rgba(255, 216, 20);
  --logo-bg: rgba(255, 216, 20);
  --switch-bg-url: url("../assets/sun.svg");
  --filter-icons: invert(100%) sepia(100%) saturate(0%) hue-rotate(-21deg)
    brightness(137%) contrast(73%);
  --scrollbar-bg: rgb(232, 232, 232);
  --scrollbar-color: rgba(0, 0, 0, 0.5);
  --dialog-bg: rgb(255, 216, 20);
  --button-dialog-bg: rgb(255, 216, 20);
  --img-profile: rgb(255, 250, 240);
  --card-special: rgb(255, 216, 20);
}

html,
body {
  min-height: 100%;

  scroll-behavior: smooth;
  overflow-x: hidden;

  transition: 0.3s;

  font-family: "Inter", sans-serif;
  color: var(--text-color);

  cursor: pointer;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: var(--text-color);

  text-decoration: none;
}

button {
  border: none;
  background: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}
