.light {
  --text-color: #000;
  --bg-color: linear-gradient(
    180deg,
    rgba(57, 68, 188, 1) 0%,
    rgba(99, 197, 218, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url("../assets/sun.svg");
  --filter-icons: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}

body {
  background: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 588px;

  margin: 56px auto 0px;

  text-align: center;

  padding: 0 24px;
}

.container #profile__image {
  object-fit: cover;

  border-radius: 50%;
  border: 4px solid floralwhite;

  margin: 0 auto;
  padding: 10px;
}

.container p {
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;

  margin: 42px 24px 14px 24px;
}

.container span {
  font-weight: 300;
  line-height: 24px;
}

#switch {
  position: absolute;

  width: 64px;

  cursor: pointer;
}

#switch button {
  position: absolute;
  left: 0;
  top: -4px;

  z-index: 1;
  height: 32px;
  width: 32px;

  background: #fff var(--switch-bg-url) no-repeat center;

  border: 0;
  border-radius: 50%;

  animation: slide-out 0.4s;
}

#switch button:hover {
  outline: 10px solid var(--highlight-color);
  transition: 0.4s ease-out;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;

  height: 24px;
  width: 64px;

  background: var(--surface-color);

  border: 1px solid var(--stroke-color);
  border-radius: 9999px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.list {
  display: flex;
  flex-direction: column;

  margin: 32px 0;

  gap: 22px;
  padding: 24px 0;
}

.list > a {
  color: var(--text-color);
}

.list .item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  gap: 8px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  font-weight: 500;

  transition: 0.3s;
}

.list .item .item__content {
  display: flex;

  width: 230px;

  gap: 0 1.2rem;
}

.list .item #item__content-rs {
  display: flex;

  gap: 0 1.2rem;
}

.list .item .item__icon {
  width: 24px;
  filter: var(--filter-icons);
}

.list .item #item__icon-rs {
  width: 24px;
}

.list .item:hover {
  background: var(--surface-color-hover);

  border: 1px solid var(--text-color);

  cursor: pointer;
}

.social__icons {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 16px;
  padding: 24px 0;

  font-size: 24px;
}

footer {
  width: 100%;

  padding: 24px 0;

  text-align: center;

  background: var(--highlight-color);
}

/* Media Queries */
@media (max-width: 480px), (min-width: 481px) {
  #switch {
    top: -36px;
    right: 16px;
  }

  .container #profile__image {
    height: 280px;
    width: 280px;
  }

  footer {
    font-size: 12px;
  }
}

@media (min-width: 700px) {
  :root {
    --bg-url: url("../assets/bg-desktop.jpg");
  }

  .light {
    --bg-url: url("../assets/bg-desktop-light.jpg");
  }

  .container #profile__image {
    height: 340px;
    width: 340px;
  }

  footer {
    font-size: 14px;
  }
}

/* Animation */
@keyframes slide-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
