.light {
  --text-color: #000;
  --bg-color: #79c4f2;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url("../assets/moon-stars.svg");
  --filter-icons: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
  --img-profile: rgba(0, 0, 0, 0.5);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 588px;

  margin: 56px auto 0px;

  text-align: center;

  padding: 0 24px;
}

.header__title {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title #profile__image {
  object-fit: cover;

  height: 320px;
  width: 320px;

  border-radius: 50%;
  border: 4px solid var(--img-profile);

  margin: 0 auto;
  padding: 10px;
}

.header__title p {
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;

  margin: 42px 24px 14px 24px;
}

.header__title span {
  font-weight: 300;
  line-height: 24px;
}

#switch {
  position: absolute;

  width: 64px;

  cursor: pointer;
}

#switch button {
  position: absolute;
  left: 0;
  top: -4px;

  z-index: 1;
  height: 32px;
  width: 32px;

  background: #fff var(--switch-bg-url) no-repeat center;

  border: 0;
  border-radius: 50%;

  animation: slide-out 0.4s;
}

#switch button:hover {
  outline: 10px solid var(--highlight-color);
  transition: 0.4s ease-out;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;

  height: 24px;
  width: 64px;

  background: var(--surface-color);

  border: 1px solid var(--stroke-color);
  border-radius: 9999px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.links_container {
  display: flex;
  flex-direction: column;
}

.links_container .links_list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem 0 2rem 0;

  gap: 1.5rem;
  padding: 24px 0;
}

.links_container .item__link {
  margin: 0 auto;

  width: 100%;
  max-width: 380px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  color: var(--text-color);
  font-weight: 500;
  transition: 0.3s;
}

.links_container .item__link a {
  display: grid;
  grid-template-columns: 1rem 2rem 12rem;
  align-items: center;
  text-align: left;
  gap: 1rem;

  width: 100%;
  padding: 1rem 3rem;
}

.links_container .item__link:hover {
  background: var(--surface-color-hover);
  border-color: var(--text-color);
}

.links_container .item__link .item__icon {
  grid-column: 2;

  width: 24px;
  filter: var(--filter-icons);
}

.social__icons {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 16px;
  padding: 24px 0;

  font-size: 24px;
}

footer {
  margin-top: auto;

  width: 100%;

  padding: 24px 0;

  text-align: center;

  background: var(--highlight-color);
}

/* Media Queries */
@media (max-width: 480px), (min-width: 481px) {
  #switch {
    right: 32px;
    top: 32px;
  }

  #profile__image {
    max-width: 100%;
    height: auto;
  }

  .links_container .item__link a {
    grid-template-columns: 0 2rem 12rem;
  }

  footer {
    font-size: 12px;
  }
}

@media (min-width: 700px) {
  :root {
    --bg-url: url("../assets/bg-desktop.jpg");
  }

  .light {
    --bg-url: url("../assets/bg-desktop-light.jpg");
  }

  #profile__image {
    max-width: 100%;
    height: auto;
  }

  footer {
    font-size: 14px;
  }
}

/* Animation */
@keyframes slide-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
